body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background:linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    margin-bottom: 10px;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://www.lovethispic.com/uploaded_images/347280-Artsy-Birthday-Wish-Gif.gif");
}

#gift-img-hot:hover {
    background-image: url("https://media2.giphy.com/media/DXhmNiA8F1i4fLnMdb/giphy.webp?cid=ecf05e47nxrm2zsgq57x3bhm6dussvr05ovffhokpd9ruwty&rid=giphy.webp&ct=g");
}

#gift-img-genius:hover {
    background-image: url("https://media1.giphy.com/media/UI8tQzJNk8pVK/200.webp?cid=ecf05e47vri4te9z8hhsr4xpxi2sge1ylr4btkxxknhj0ww7&rid=200.webp&ct=g");
}

#gift-img-badass:hover {
    background-image: url("https://media2.giphy.com/media/ckq7PilK55yqO8qKUy/200w.webp?cid=ecf05e47s11p8b6l1gp0q8vsnzgsv9mprkhugubv9g6rru4d&rid=200w.webp&ct=g");
}

#gift-img-cheers:hover {
    background-image: url("https://media3.giphy.com/media/37KdV183jTuko/200w.webp?cid=ecf05e47hhveoqztgoz4g9clqtf970k1u24m0mfotfgpyxr5&rid=200w.webp&ct=g");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/